
<template>
  <div class="container">
    <div class="btn-toolbar">
      <div class="btn-group btn-group-sm">
        <button class="btn btn-default" v-on:click="setLetter('A')">A</button>
        <button class="btn btn-default" v-on:click="setLetter('B')">B</button>
        <button class="btn btn-default" v-on:click="setLetter('C')">C</button>
        <button class="btn btn-default" v-on:click="setLetter('D')">D</button>
        <button class="btn btn-default" v-on:click="setLetter('E')">E</button>
        <button class="btn btn-default" v-on:click="setLetter('F')">F</button>
        <button class="btn btn-default" v-on:click="setLetter('G')">G</button>
        <button class="btn btn-default" v-on:click="setLetter('H')">H</button>
        <button class="btn btn-default" v-on:click="setLetter('I')">I</button>
        <button class="btn btn-default" v-on:click="setLetter('J')">J</button>
        <button class="btn btn-default" v-on:click="setLetter('K')">K</button>
        <button class="btn btn-default" v-on:click="setLetter('L')">L</button>
        <button class="btn btn-default" v-on:click="setLetter('M')">M</button>
        <button class="btn btn-default" v-on:click="setLetter('N')">N</button>
        <button class="btn btn-default" v-on:click="setLetter('O')">O</button>
        <button class="btn btn-default" v-on:click="setLetter('P')">P</button>
        <button class="btn btn-default" v-on:click="setLetter('Q')">Q</button>
        <button class="btn btn-default" v-on:click="setLetter('R')">R</button>
        <button class="btn btn-default" v-on:click="setLetter('S')">S</button>
        <button class="btn btn-default" v-on:click="setLetter('T')">T</button>
        <button class="btn btn-default" v-on:click="setLetter('U')">U</button>
        <button class="btn btn-default" v-on:click="setLetter('V')">V</button>
        <button class="btn btn-default" v-on:click="setLetter('W')">W</button>
        <button class="btn btn-default" v-on:click="setLetter('X')">X</button>
        <button class="btn btn-default" v-on:click="setLetter('Y')">Y</button>
        <button class="btn btn-default" v-on:click="setLetter('Z')">Z</button>
      </div>
    </div>
    <div>
      <AlphabeticalGroup :letter="letter" />
    </div>
  </div>
</template>



<script>
import AlphabeticalGroup from "./AlphabeticalGroup.vue";
export default {
  name: "Alphabet",
  data: function() {
    return {
      letter: "A"
    };
  },
  props: {},
  components: { AlphabeticalGroup },
  methods: {
    setLetter(letter) {
      this.$set(this.$data, "letter", letter);
    },
    getLetter() {
      return this.$data.letter;
    }
  }
};
</script>
