
<template>
  <div>
    <hr />
    <p v-bind:id="letter">
      <b>{{letter}}</b>
    </p>
    <br />
    <br />
    <ul class="list-group">
      <li v-bind:key="item" class="list-group-item" v-for="item in parseJsonForLetter(letter)">
        <b>{{ item.mot }}</b> - {{ item.def }}
      </li>
    </ul>
  </div>
</template>

<script>
import removeAccents from "remove-accents";
import data from "./../../data.json";

function parseJsonForLetter(letter) {
  const glossaire = data.glossaire.entry;
  const results = glossaire
    .filter(item => {
      const noAccent = removeAccents(item.mot.charAt(0).toLowerCase());
      if (noAccent === letter.toLowerCase()) {
        return true;
      }
    })
    .sort(({ mot: a }, { mot: b }) => {
      if (a === b) {
        return 0;
      } else if (a > b) {
        return 1;
      }
      return -1;
    });
  return results;
}

export default {
  name: "AlphabeticalGroup",
  props: {
    letter: {
      type: String,
      required: true
    }
  },
  methods: {
    parseJsonForLetter
  }
};
</script>
