<template>
  <div id="app">
    <Alphabet />
  </div>
</template>

<script>
import Alphabet from "./components/Alphabet.vue";

export default {
  name: "app",
  components: {
    Alphabet
    // AlphabeticalGroup
  }
};
</script>

<style lang="scss">
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
</style>
